<ion-header>
    <ion-toolbar mode="ios"
                 color="dark" >
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/book"></ion-back-button>
      </ion-buttons>
       <div slot="start">
        <img src="assets/img/logo.png" alt="logo" style="width: 15%; padding-left: 5%">
      </div>
      <ion-title> Book / Modelado</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="dark">
    <ion-grid fixed>
      <ion-row>
        <ion-col *ngFor="let card of cards">
          <ion-card>
            <h1>{{card.nombre}}</h1>
            <img [src]="card.imagen" style="min-width: 300px;" />
            <ion-card-header>
              <ion-card-title>{{card.conten}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <!--<ion-button (click)="mostrarpop( $event )">
                    Abrir
                  </ion-button>  -->
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>