<ion-header>
  <ion-toolbar mode="ios"
               color="dark" >
     <div slot="start">
      <img src="assets/img/logo.png" alt="logo" style="width: 15%; padding-left: 5%">
    </div>
    <ion-title>SOCIAL MEDIA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button style="height: 100%;"
                    href="https://www.instagram.com/agus_3d_designer/"
                    expand="full"
                    color="instagram">
          instagram
          <ion-icon slot="end" 
                    name="logo-instagram"
                    style="height: 100px">
         </ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button style="height: 100%;"
                    href="https://www.facebook.com/AGUS-3D-Designer-109983006380817/"
                    expand="full"
                    color="facebook">
          facebook
          <ion-icon slot="end" 
                    name="logo-facebook"
                    style="height: 100px">
         </ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
          <ion-button style="height: 150%;"
                      href="https://www.youtube.com/channel/UCqXhQyC6bHG7cYMKFrReckg/videos"
                      expand="full"
                      color="youtube">
            youtube
            <ion-icon slot="end" 
                      name="logo-youtube"
                      style="height: 100px">
           </ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button style="height: 100%;"
                        href="https://www.linkedin.com/in/adalberto-dom%C3%ADnguez-833082188/"
                        expand="full"
                        color="linkedin">
              linkedin
              <ion-icon slot="end" 
                        name="logo-linkedin"
                        style="height: 100px">
             </ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="6">
              <ion-button style="height: 100%; padding-top: 55px"
                          href="https://slmwld.github.io/page/inicio.html"
                          expand="full"
                          color="medium">
                SW Web
                <ion-icon slot="end" 
                          name="power"
                          style="height: 100px">
               </ion-icon>
              </ion-button>
            </ion-col>
          
    </ion-row>
  </ion-grid>
</ion-content>