<ion-header>
    <ion-toolbar mode="ios"
                 color="dark" >
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/book"></ion-back-button>
      </ion-buttons>
       <div slot="start">
        <img src="assets/img/logo.png" alt="logo" style="width: 15%; padding-left: 5%">
      </div>
      <ion-title> Book / Video</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="dark">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <h1>Video Reel 2019</h1>
              <iframe src="https://www.youtube.com/embed/1He2TyV08h4"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-content>
              <h1>Modelado Impala</h1>
              <iframe src="https://www.youtube.com/embed/0Nqpl2OvYJ0"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
            <ion-card >
              <ion-card-content>
                <h1>Modelado Impala</h1>
                <iframe src="https://www.youtube.com/embed/XMM87TXlmlc"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12">
              <ion-card >
                <ion-card-content>
                  <h1>Modelado Impala</h1>
                  <iframe src="https://www.youtube.com/embed/wXL-fCBhUAE"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="12">
              <ion-card >
                <ion-card-content>
                  <h1>Modelado Impala</h1>
                  <iframe src="https://www.youtube.com/embed/j-6xREDFGyw"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="12">
                <ion-card >
                  <ion-card-content>
                    <h1>Modelado Impala</h1>
                    <iframe src="https://www.youtube.com/embed/vC3MohhTnY8"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  </ion-card-content>
                </ion-card>
              </ion-col>
          
      </ion-row>
    </ion-grid>
  
  </ion-content>