<ion-tabs>
  <ion-tab-bar mode="ios"
               color="dark"  
               slot="bottom,top">

    <ion-tab-button mode="ios"
                     tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cv"
                    mode="ios">
      <ion-icon name="contact"></ion-icon>
      <ion-label>CV</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="book"
                    mode="ios">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Book</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact"
                    mode="ios">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>